/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --colorh1h2: #363636;
  --bgcolorheader: #ffffff;
  --shadow: 8px 1px 20px gray;
  --shadowfield: 8px 1px 20px black;
  --font: Arial, Helvetica, sans-serif 12px;
}

body {
  background-color: lightgray;
}

.body {
  background-color: #090a0a;
}

header {
  background-color: var(--bgcolorheader);
  margin: -0.5em;
  position: sticky;
  margin-bottom: 4em;
  filter: drop-shadow(var(--shadow));
}

nav {
  margin-bottom: 2em;
}

.h1 {
  color: #ffffff;
  font-family: var(--font);
  font-size: 1.5em;
  text-align: center;
  margin-left: 1em;
}

h1 {
  font-family: var(--font);
  font-size: 1em;
  color: var(--colorh1h2);
  text-align: justify;
  margin-left: 2em;
}


h2 {
  font-family: var(--font);
  font-size: 1em;
  color: var(--colorh1h2);
  text-align: justify;
  margin-left: 2em;
}

h3 {
  font-family: var(--font);
  font-size: 13px;
  text-align: justify;
  color: #ffffff;
  margin-top: 1em;
  margin-left: 2em;
}

h4 {
  color: #ffffff;
  margin-left: 1em;

}

#h1 {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  font-family: var(--font);
  margin: auto;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 2em;
  background-color: var(--bgcolorheader);
  margin: -0.5em;
  filter: drop-shadow(var(--shadow));
}

button {
  border-radius: 50px;
  border: none;
  height: 2em;
  width: 8em;
  background-color:#0070CC;
  text-align: center;
  color: #ffffff;
  margin-left: 2em;
}

.but {
  border-radius: 50px;
  border: none;
  height: 3em;
  width: 20em;
  background-color:#D63D00;
  text-align: center;
  justify-content: left;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.btn {
  border-radius: 50px;
  border: none;
  height: 2em;
  width: 8em;
  background-color:#363636;
  text-align: center;
  color: #ffffff;
  font-family: var(--font);
  float: right;
  margin-top: -3em;
  margin-right: 1em;
}

ul:nth-child(1) {
  color:#000000;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #757575;
  list-style-type: none;
  padding: 1em;
  margin: 0px 16px;
  
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 3em;
  height: 3em;
  display: block;
  margin-left: auto;
  margin-right:auto;
}

.img1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
}


.field {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -4em;
}

.field1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -1em;
}

.sec{
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  background-color: var(--bgcolorheader);
}

.imgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-content: center;
}

.same {
  width: 10em;
  height: 10em;
  border-radius: 5%;
}

.art {
  background-color: #1F2024F7;
  margin: auto;
  margin-top: -3em;
  padding: auto;
  width: 20em;
  height: 24em;
  filter: drop-shadow(var(--shadowfield));
}

.art1 {
  background-color: #1F2024F7;
  margin: auto;
  margin-top: 5em;
  padding: auto;
  width: 20em;
  height: 33em;
  filter: drop-shadow(var(--shadowfield));
}

.art2 {
  background-color: #1F2024F7;
  margin: auto;
  margin-top: 2em;
  padding: auto;
  width: 20em;
  height: 39em;
  filter: drop-shadow(var(--shadowfield));
}

.art3 {
  background-color: #1F2024F7;
  margin: auto;
  margin-top: 2em;
  padding: auto;
  width: 20em;
  height: 39em;
  filter: drop-shadow(var(--shadowfield));
}

.art4 {
  background-color: #1F2024F7;
  margin: auto;
  margin-top: 2em;
  padding: auto;
  width: 20em;
  height: 39em;
  filter: drop-shadow(var(--shadowfield));
}

 #ul {
   color: #ffffff;
   display: flex;
   flex-direction: column;
   list-style-type: circle;
 }

p {
  color: #ffffff;
  text-align: left;
  margin-left: 1em;
  font-size: 12px;
}

.p1 {
  text-align: center;
  border: solid 1px white;
  margin: auto;
}

footer {
  background-color: #00439C;
  height: 25em;
  margin-top: 5em;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

